<nav [style.width]="sidebarWidth"
  class="tw-h-full tw-bg-[#121212] tw-text-white tw-flex tw-flex-col tw-py-4 text-xs tw-transition-[width] tw-duration-300 tw-ease-in-out">

  <!-- Toggle + Back -->
  <div class="tw-flex tw-gap-x-2 tw-px-4 tw-h-10">
    <div class="tw-cursor-pointer hover:tw-text-[#AA0000]" (click)="toggleSidebar()">
      <app-icon name="dashboard-square" [size]="24" />
    </div>
    <div *ngIf="menuStack.length > 0 && isExpanded" class="tw-cursor-pointer hover:tw-text-[#AA0000]"
      (click)="backOneLevel()">
      <app-icon name="chevron-left" [size]="20" />
    </div>
  </div>

  <!-- Drill-down area  -->
  <div class="tw-flex-1 tw-mt-3 tw-overflow-y-auto">
    <ul class="tw-w-full tw-transition-all tw-duration-300">

      <li *ngIf="menuStack.length === 0" class="tw-hidden"></li>
      <ng-container *ngIf="menuStack.length === 0; else levelView">
        <li *ngFor="let item of rootMenus"
          class="tw-flex tw-items-center tw-gap-x-2 tw-mb-2 tw-cursor-pointer tw-border-l-[4px] hover:tw-border-l-[4px] hover:tw-border-[#AA0000] tw-pl-4 tw-py-2 hover:tw-bg-white/10"
          [ngClass]="{
            'tw-border-[#AA0000] tw-bg-white/25':
              (hasRootChildren(item.label) ? isNodeActiveAtDepth(0, item.label) : isRouteActive(item.path ?? '')),
            'tw-border-transparent':
              !(hasRootChildren(item.label) ? isNodeActiveAtDepth(0, item.label) : isRouteActive(item.path ?? ''))
          }" (click)="onRootClick(item, $event)">
          <app-icon [name]="item.icon" [size]="20" />
          <span [class]="menuLabelClass">{{ item.label }}</span>
        </li>
      </ng-container>

      <ng-template #levelView>
        <li *ngFor="let n of currentNodes"
          class="tw-flex tw-items-center tw-gap-x-2 tw-mb-2 tw-cursor-pointer tw-border-l-[4px] tw-pl-4 tw-py-2 hover:tw-bg-white/10"
          [ngClass]="{
            'tw-border-[#AA0000] tw-bg-white/25': isActiveForCurrentLevel(n),
            'tw-border-transparent': !isActiveForCurrentLevel(n)
          }" (click)="onNodeClick(n, $event)">
          <app-icon [name]="n.icon" [size]="20" />
          <span [class]="menuLabelClass">{{ n.label }}</span>
        </li>
      </ng-template>
    </ul>
  </div>

  <!-- Footer: bottomMenu -->
  <ul class="tw-mt-4">
    <li *ngFor="let item of bottomMenu" class="tw-flex tw-items-center tw-mb-2 tw-gap-x-2 tw-cursor-pointer tw-border-l-[4px] hover:tw-border-l-[4px] hover:tw-border-[#AA0000] tw-pl-4 tw-py-2 hover:tw-bg-white/10" 
        [ngClass]="{'tw-border-[#AA0000] tw-bg-white/25': (hasRootChildren(item.label) ? isNodeActive(item.label) : isRouteActive(item.path ?? '')) || (item.label === 'Admin Setting' && isRouteActive('admin-setting')),
                      'tw-border-transparent': !((hasRootChildren(item.label) ? isNodeActive(item.label) : isRouteActive(item.path ?? '')) || (item.label === 'Admin Setting' && isRouteActive('admin-setting'))),
                      'tw-hidden': item.label === 'Admin Setting' && isUnderAdmin }" (click)="onRootClick(item, $event)">
      <app-icon [name]="item.icon" [size]="20" />
      <span [class]="menuLabelClass">{{ item.label }}</span>
    </li>
  </ul>
</nav>