::ng-deep .ql-editor {
    font-family: "Sarabun", sans-serif;
    min-height: 250px;
    overflow-y: auto;
    resize: vertical;
}

quill-editor {
    width: 100%;
    display: block;
    border-radius: 8px;
    // overflow: hidden;
}

::ng-deep .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0 0;
    border-color: rgb(206 212 218);
}

::ng-deep .ql-container.ql-snow {
    border-radius: 0 0 8px 8px;
    border-color: rgb(206 212 218);
}

.isDisabled {
    opacity: 0.6;
    background: #E9ECEF;
    pointer-events: none;
    // color: #6C757D;
}

::ng-deep .ql-container.ql-snow img[src="https://www.pinepacific.com/img/logo.png"] {
    width: 300px;
}