// Grayscale Colors
$black:         #000000;
$gray-dark-1:   #212529;
$gray-dark-2:   #343A40;
$gray-dark-3:   #495057;
$gray-dark-4:   #6C757D;

$gray-light-1:  #ADB5BD;
$gray-light-2:  #CED4DA;
$gray-light-3:  #DEE2E6;
$gray-light-4:  #E9ECEF;
$gray-light-5:  #F8F9FA;

$white:         #FFFFFF;

// Red–Orange–Yellow Colors
$maroon:        #550000;
$maroon-1:      #660708;
$red-blood:     #930000;
$dark-red:      #AA0000;
$blossom-red:   #AA5555;
$torch-red:     #FF0055;
$tomato:        #FF5555;
$red:           #FF0000;
$strong-orange: #FF5500;
$tawny-orange:  #AA5500;
$orange-dark: #E68900;
$orange:        #FFAA00;
$pale-orange:   #FFA555;
$yellow:        #FFFF00;
$lemon:         #FFFF55;
$canary:        #FFFFAA;

// Green Colors
$verdun-green:      #555500;
$citrus:            #AAAA00;
$olive-green:       #AAAA55;
$darkest-green:     #005500;
$green-haze:        #00AA55;
$dark-green:        #00AA00;
$fruit-salad:       #55AA55;
$limeade:           #55AA00;
$bright-aquamarine: #00FFAA;
$aquamarine:        #55FFAA;
$spring-green:      #00FF55;
$green:             #00FF00;
$screaming-green:   #55FF55;
$bright-green:      #55FF00;
$green-yellow:      #AAFF55;
$lime:              #AAFF00;
$mint:              #AAFFAA;

// Blue–Cyan Colors
$navy-blue:         #000055;
$dark-blue:         #0000AA;
$rich-blue:         #5555AA;
$cobalt:            #0055AA;
$blue:              #0000FF;
$denim-blue:        #0055FF;
$azure:             #00AAFF;
$azure-dark:        #0095E6;
$electric-indigo:   #5500FF;
$neon-blue:         #5555FF;
$maya-blue:         #55AAFF;
$cyan:              #00FFFF;
$baby-blue:         #55FFFF;
$pale-blue:         #AAFFFF;
$sherpa-blue:       #005555;
$persian-green:     #00AAAA;
$persian-green-dark:  #008888;
$tradewinds-blue:   #55AAAA;

// Purple-Pink Colors
$tyrian-purple:     #550055;
$lipstick:          #AA0055;
$dark-magenta:      #AA00AA;
$tapestry-purple:   #AA55AA;
$violet:            #AA00FF;
$pale-violet:       #AA55FF;
$purple:            #5500AA;
$lavender:          #AAAaff;
$pink:              #FF00AA;
$brilliant-rose:    #FF55AA;
$magenta:           #FF00FF;
$flamingo:          #FF55FF;
$rose:              #FFAAFF;
$lilac:             #FFAAAA;
