.box-shadow {
    border: 1px solid #DEE2E6;
    // overflow: hidden;
    background: #fff;
    min-width: 380px;
}

.flex-box {
    display: flex;
    align-items: center;
}

.flex-box-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.tag {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.tag.tag-green {
    color: #005500;
    background: #AAFFAA;
}

.grid-cols-auto {
    grid-template-columns: auto auto auto auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.carousel {
  margin: 20px auto;
  width: 80%;
}

.slide {
  padding: 10px;
  min-width: 360px;
}

::ng-deep .slick-next::before,
::ng-deep .slick-prev::before {
    color: #333;
}

::ng-deep .slick-disabled {
    opacity: 0.8;
}