.dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot-blue {
    background-color: #007bff;
}

.dot-orange {
    background-color: #ffc107;
}

.dot-green {
    background-color: #28a745;
}