.dot {
    height: 16px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot-blue {
    background-color: #0085FF;
}

.dot-orange {
    background-color: #FF9F2D;
}

.dot-green {
    background-color: #00AA00;
}