::ng-deep .slick-slide {
  margin-right: 24px;
  height: auto;
}

::ng-deep .slick-slider .slick-list {
    margin: -24px;
    padding: 24px;
    padding-right: 0;
    overflow: hidden;
}

::ng-deep .slick-dots {
    position: relative;
    bottom: -8px;
}

::ng-deep .slick-track {
    display: flex;
}

::ng-deep .slick-dots li,
::ng-deep .slick-dots li button:before {
    width: 14px;
    height: 14px;
}