@page {
    size: A4;
    margin: 0;
}

.img-cover {
    width: 8rem;
    height: 10rem;
}

.dotted-line {
    border-bottom: 1px dotted #000;
    display: inline-block;
    min-width: 200px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    min-width: 42px !important;
    font-size: 9pt;
}

td,
th {
    min-height: 24pt;
    /* ปรับตามความสูงที่ต้องการ */
    height: 24pt;
}

.radio-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.square-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body {
        margin: 0;
        padding: 0;
        line-height: 1.3;
    }

    .page-break {
        page-break-inside: avoid;
        // min-height: 100vh;
        // height: 297px;
    }

    .page-break:not(:last-child) {
        page-break-after: always;
    }

    .form-apply * {
        font-family: Sarabun, Noto Sans Thai, Arial, sans-serif;
        font-size: 8pt;
    }

    .text-header {
        font-size: 10pt;
    }

    .form-apply .tw-line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .img-cover {
        width: 6rem;
        height: 8rem;
    }
}