<div class="tw-text-black">
    <div class="tw-text-lg tw-font-semibold tw-px-6 tw-pt-4 tw-pb-3">
        {{titleHeader}}
    </div>

    <div class="tw-border-t tw-border-[#E3E3E3]"></div>

    <form [formGroup]="form">
        <mat-dialog-content>
            <ng-container *ngFor="let config of dropdownConfigs">
                <div class="tw-mb-4" [ngSwitch]="config.type">

                    <!-- Single Select Dropdown -->
                    <app-cdk-dropdown *ngSwitchCase="'single'" [label]="config.label" [options]="config.options"
                        [placeholder]="config.placeholder"
                        (valueChange)="onSingleSelectChange($event, config.label, config.options)">
                    </app-cdk-dropdown>

                    <!-- Multi Select Dropdown -->
                    <app-multi-select-dropdown *ngSwitchCase="'multi'" [label]="config.label" [options]="config.options" [defaultSelected]="config.defaultSelected" [isHistory]="config.isHistory"
                        (selectionChange)="onMultiSelectChange($event, config.label)">
                    </app-multi-select-dropdown>

                </div>
            </ng-container>

        </mat-dialog-content>
    </form>

    <div class="tw-border-t tw-border-gray-300"></div>

    <div class="tw-text-right tw-px-6 tw-pt-3 tw-pb-3">
        <button *ngIf="data.confirm"
            class="tw-bg-gray-200 hover:tw-bg-gray-300 tw-text-black tw-font-medium tw-py-1.5 tw-px-5 tw-rounded tw-mr-2"
            (click)="onCancel()">
            Cancel
        </button>
        <button class="tw-text-white tw-font-medium tw-py-1.5 tw-px-6 tw-rounded" (click)="onConfirm()"
            [ngClass]="data.confirm ? 'tw-bg-[#00AA55] hover:tw-bg-[#02934a]' : 'tw-bg-[#930000] hover:tw-bg-[#7a0000]'">
            {{ data.confirm ? 'Confirm' : 'OK' }}
        </button>
    </div>
</div>