<!-- sentinel สำหรับ back-to-top -->
<div id="page-top-sentinel" class="tw-h-px tw-w-px tw-opacity-0" aria-hidden="true"></div>

<div class="tw-sticky tw-top-0 tw-z-[30] tw-bg-white">
  <app-header-content [headerName]="'Score Details'" [headerType]="''"></app-header-content>
</div>

<app-filter
  [actionButtons]="filterButtons"
  [disabledKeys]="disabledKeys"
  [filterDynamicButton]="true"
  (buttonClicked)="onFilterButtonClick($event)"
></app-filter>

<app-loading></app-loading>

<form [formGroup]="formDetails">
  <div class="tw-px-6 tw-pb-4 tw-bg-[#FFFFFF]">
    <div class="tw-bg-white tw-px-6 tw-pt-4 tw-rounded-xl tw-shadow-[0_6px_12px_rgba(0,0,0,0.3)]">
      <div class="tw-flex tw-items-center tw-justify-between">
        <label class="tw-text-lg tw-font-bold">Score</label>

        <button
          type="button"
          (click)="onAddScoreTypeClicked()"
          class="tw-inline-flex tw-items-center tw-gap-2 tw-rounded-lg bg-azure hover:bg-azure-dark
          tw-text-white tw-text-sm tw-font-semibold tw-px-3 tw-py-1.5
            tw-shadow-[0_2px_6px_rgba(22,119,255,0.35)] focus:ring-azure focus-visible:ring-azure"
          aria-label="Add Score">
          <app-icon [name]="'plus'" [size]="18" extraClass="tw-text-white"></app-icon>
          <span class="tw-font-semibold">Add</span>
        </button>
      </div>

      <hr class="tw--mx-6 tw-mt-4">

      <div class="tw-my-4">
        <div class="tw-mb-1.5">
          <label class="tw-text-sm tw-font-semibold">Score Name</label>
        </div>
        <input
          type="text"
          class="tw-w-full tw-bg-[#FFFFFF] tw-border tw-border-[#CED4DA] tw-rounded-lg tw-px-4 tw-py-2 tw-text-sm disabled:tw-text-[#6C757D] disabled:tw-bg-[#E9ECEF]"
          formControlName="scoreName" />
      </div>
      <div class="tw--mx-6 tw-rounded-b-xl tw-overflow-hidden">
        <app-tables
          #scoreTable
          [rows]="scoreRows"
          [columns]="scoreColumns"
          [showCheckbox]="false"
          [splitRows]="false"
          [hasOverflowY]="false"
          [enableRowClick]="false"
          [withinCard]="true"
          [isDisabledForm]="true"
          [allowViewWhenDisabled]="true"
          [isConfirmDialogToggleRequired]="false"
          (viewRowClicked)="onRowClicked($event, 'view')"
          (toggleChange)="onToggleChangeCategory($event)"
        ></app-tables>
      </div>
    </div>
  </div>
</form>
