<div class="tw-sticky tw-top-0 tw-z-[30]">
  <app-header-content
    [headerName]="'Applications Screening'"
    [headerType]="'search'"
    [searchByOptions]="searchByOptions"
    [searchForm]="searchForm"
    (search)="onSearch($event)"
    (clearSearch)="onClearSearch()"
  ></app-header-content>
</div>

<app-filter
  [showAllYearOption]="true" 
  [defaultLastMonth]="true"
  [filterDateRange]="filterDateRange"
  (dateRangeSelected)="onDateRangeSelected($event)"
></app-filter>

<app-tab-menus
  [tabs]="tabMenus"
  [activeTab]="activeTab"
  (tabChanged)="onTabChanged($event)"
></app-tab-menus>

<app-loading></app-loading>

<div
  #tableContainer
  class="tw-h-[calc(100vh-370px)] tw-overflow-y-auto"
  (scroll)="onScroll($event)"
  #scrollArea
>
  <app-tables
    [columns]="columns"
    [rows]="rows()"
    [resetKey]="resetCounter()"
    [splitRows]="true"
    [showCheckbox]="false"
    [sortStates]="currentSort()"
    (rowClicked)="onRowClick($event)"
    (columnClicked)="onColumnClick($event)"
    (listClickedRows)="onClickedRowsChanged($event)"
    [hasOverflowY]="hasOverflowY"
    [tableFixed]="false"
  ></app-tables>
</div>
