<div class="tw-sticky tw-top-0 tw-z-[30] tw-bg-white">
  <app-header-content [headerName]="'Application Question Details'" [headerType]="''"></app-header-content>
</div>

<app-filter
  [actionButtons]="filterButtons"
  [disabledKeys]="disabledKeys"
  [filterDynamicButton]="true"
  (buttonClicked)="onFilterButtonClick($event)"
></app-filter>

<app-loading></app-loading>

<form [formGroup]="formDetails">
  <!-- <div class="tw-grid tw-grid-cols-3 tw-gap-6 tw-px-6 tw-py-4 tw-bg-[#FFFFFF]" formGroupName="categoryType"> -->
    <!-- Left Panel -->
    <!-- <div
      class="tw-col-span-2 tw-space-y-4 tw-bg-white tw-px-6 tw-pt-4 tw-pb-6 tw-rounded-xl tw-shadow-[0_6px_12px_rgba(0,0,0,0.3)]">
      <div>
        <label class="tw-text-lg tw-font-bold">Category Type</label>
        <hr class="tw--mx-6 tw-mt-4">
      </div>

      <div>
        <div class="tw-mb-1.5">
          <label class="tw-text-sm tw-font-semibold">Category Type Name</label>
        </div>
        <input type="text"
          class="tw-w-full tw-bg-[#FFFFFF] tw-border tw-border-[#CED4DA] tw-rounded-lg tw-px-4 tw-py-2 tw-text-sm disabled:tw-text-[#6C757D] disabled:tw-bg-[#E9ECEF]"
          formControlName="CategoryTypeName" />
      </div>
    </div> -->

    <!-- Right Panel -->
    <!-- <div class="tw-col-span-1 tw-space-y-6">
      <div
        class="tw-space-y-4 tw-bg-white tw-px-6 tw-pt-4 tw-pb-6 tw-rounded-xl tw-shadow-[0_6px_12px_rgba(0,0,0,0.3)]">
        <div>
          <label class="tw-text-lg tw-font-bold">Activation Status</label>
          <hr class="tw--mx-6 tw-mt-4">
        </div>

        <div class="tw-flex tw-flex-col tw-gap-y-2">
          <div class="tw-flex tw-items-center tw-gap-3">
            <input id="activeStatus" type="checkbox" class="tw-sr-only tw-peer" formControlName="activeStatus"
              role="switch" [attr.aria-checked]="formDetails.value.activeStatus ? 'true' : 'false'"
              aria-labelledby="activeStatusLabel" />

            <div class="tw-relative tw-w-11 tw-h-6 tw-cursor-pointer tw-rounded-full tw-transition-colors
                        tw-bg-gray-200 peer-checked:tw-bg-[#00AA00]
                        after:tw-content-[''] after:tw-absolute after:tw-top-[2px] after:tw-start-[2px]
                        after:tw-bg-white after:tw-rounded-full after:tw-h-5 after:tw-w-5 after:tw-transition-all
                        peer-checked:after:tw-translate-x-full rtl:peer-checked:after:tw--translate-x-full"
              (click)="toggleActive()" tabindex="0" (keyup.enter)="toggleActive()" (keyup.space)="toggleActive()"
              [ngClass]="{
                'peer-checked:tw-bg-[#00AA00]/40 tw-pointer-events-none': !isEditing
              }"
              aria-controls="activeStatus">
            </div>

            <span id="activeStatusLabel" class="tw-text-sm tw-font-semibold">Active</span>
          </div>

          <p class="tw-text-sm tw-text-gray-500">
            Select to activate this category type.
          </p>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  <div class="tw-px-6 tw-pb-4 tw-bg-[#FFFFFF]">
    <div class="tw-bg-white tw-px-6 tw-pt-4 tw-rounded-xl tw-shadow-[0_6px_12px_rgba(0,0,0,0.3)] tw-mt-2">

      <div class="tw-flex tw-items-center tw-justify-between">
        <label class="tw-text-lg tw-font-bold">Category</label>

        <button
          type="button"
          (click)="onAddClicked()"
          class="tw-inline-flex tw-items-center tw-gap-2 tw-rounded-lg bg-azure hover:bg-azure-dark
          tw-text-white tw-text-sm tw-font-semibold tw-px-3 tw-py-1.5
            tw-shadow-[0_2px_6px_rgba(22,119,255,0.35)] focus:ring-azure focus-visible:ring-azure"
          aria-label="Add Category">
          <app-icon [name]="'plus'" [size]="18" extraClass="tw-text-white"></app-icon>
          <span class="tw-font-semibold">Add</span>
        </button>
      </div>
      <hr class="tw--mx-6 tw-mt-4">
      <div class="tw-my-4" formGroupName="categoryType">
        <div class="tw-mb-1.5">
          <label class="tw-text-sm tw-font-semibold">Category Type Name</label>
        </div>
        <input type="text"
          class="tw-w-full tw-bg-[#FFFFFF] tw-border tw-border-[#CED4DA] tw-rounded-lg tw-px-4 tw-py-2 tw-text-sm disabled:tw-text-[#6C757D] disabled:tw-bg-[#E9ECEF]"
          formControlName="CategoryTypeName" />
      </div>
      <div class="tw--mx-6 tw-rounded-b-xl tw-overflow-hidden">
        <app-tables
          #categoryTable
          [rows]="categoryRows"
          [columns]="categoryColumns"
          [showCheckbox]="false"
          [splitRows]="false"
          [hasOverflowY]="false"
          [enableRowClick]="false"
          [withinCard]="true"
          [isDisabledForm]="true"
          [allowViewWhenDisabled]="true"
          [isConfirmDialogToggleRequired]="true"
          (viewRowClicked)="onRowClicked($event, 'view')"
          (toggleChange)="onToggleChangeCategory($event)"
        ></app-tables>
      </div>
    </div>
  </div>

  <div
    class="tw-px-6 tw-pb-6 tw-bg-[#FFFFFF]"
    *ngIf="isEnabledCardDetails"
    [@fadeInOutAnimation]="'fadeInOutAnimation'"
    [@.disabled]="!isEnabledCardDetails"
  >
    <div class="tw-bg-white tw-px-6 tw-pt-4 tw-rounded-xl tw-shadow-[0_6px_12px_rgba(0,0,0,0.3)] tw-mt-2" [formGroup]="categoryDetailsFG">
      <div class="tw-flex tw-items-center tw-justify-between">
        <label class="tw-text-lg tw-font-bold">Category Details</label>

        <div class="tw-flex tw-items-center tw-gap-2">
          <button
            type="button"
            (click)="onEditDetailsClicked()"
            class="tw-inline-flex tw-items-center tw-gap-2 tw-rounded-lg bg-orange hover:bg-orange-dark
            tw-text-white tw-text-sm tw-font-semibold tw-px-3 tw-py-1.5
              tw-shadow-[0_2px_6px_rgba(22,119,255,0.35)] focus:ring-orange focus-visible:ring-orange"
            aria-label="Edit Details"
            *ngIf="!isAddMode && !isEditDetails"
          >
            <app-icon [name]="'pencil'" [size]="18" extraClass="tw-text-white"></app-icon>
            <span class="tw-font-semibold">Edit</span>
          </button>
          <button
            type="button"
            (click)="onSaveDetailsClicked()"
            class="tw-inline-flex tw-items-center tw-gap-2 tw-rounded-lg bg-persian-green hover:bg-persian-green-dark
                  tw-text-white tw-text-sm tw-font-semibold tw-px-3 tw-py-1.5
                  tw-shadow-[0_2px_6px_rgba(22,119,255,0.35)] focus:ring-persian-green focus-visible:ring-persian-green
                  disabled:tw-cursor-not-allowed disabled:tw-bg-gray-400"
            aria-label="Save Details"
            [disabled]="!checkFormDetailsChanged()"
            *ngIf="isAddMode || isEditDetails"
          >
            <app-icon [name]="'download'" [size]="18" extraClass="tw-text-white"></app-icon>
            <span class="tw-font-semibold">Save</span>
          </button>
        </div>
      </div>
      <hr class="tw--mx-6 tw-mt-4">
      <div class="tw-my-4">
        <div class="tw-mb-1.5">
          <label class="tw-text-sm tw-font-semibold">Category Name</label>
        </div>
        <input type="text"
          class="tw-w-full tw-bg-[#FFFFFF] tw-border tw-border-[#CED4DA] tw-rounded-lg tw-px-4 tw-py-2 tw-text-sm disabled:tw-text-[#6C757D] disabled:tw-bg-[#E9ECEF]"
          formControlName="CategoryName"
          (blur)="onCategoryNameBlur()"
          (keydown.enter)="onCategoryNameBlur()"/>
      </div>
      <div class="tw-flex tw-items-center tw-justify-between tw-mb-4">
        <div></div>

        <button
          type="button"
          (click)="onAddQuestionClicked()"
          class="tw-inline-flex tw-items-center tw-gap-2 tw-rounded-lg bg-azure hover:bg-azure-dark
                tw-text-white tw-text-sm tw-font-semibold tw-px-3 tw-py-1.5
                tw-shadow-[0_2px_6px_rgba(22,119,255,0.35)] focus:ring-azure focus-visible:ring-azure"
          [ngClass]="{
            'tw-pointer-events-none tw-opacity-50': !isEditDetails && !isAddMode
          }"
          aria-label="Add Question">
          <app-icon [name]="'plus'" [size]="18" extraClass="tw-text-white"></app-icon>
          <span class="tw-font-semibold">Add Question</span>
        </button>
      </div>
      <div class="tw--mx-6 tw-rounded-b-xl tw-max-h-[calc(100vh-330px)] tw-overflow-y-auto">
        <app-tables
          #categoryDetailsTable
          [rows]="categoryDetailsRows"
          [columns]="categoryDetailsColumns"
          [showCheckbox]="false"
          [splitRows]="false"
          [hasOverflowY]="false"
          [enableRowClick]="false"
          [withinCard]="true"
          (toggleChange)="onToggleChangeDetails($event)"
          [isDisabledForm]="isDisabled"
          [draggableRows]="!isDisabled"
          (rowsReordered)="onDetailsRowsReordered($event)"
          (createInlineSave)="onInlineSave($event)"
          (createInlineCancel)="onInlineCancel()"
          [isAddMode]="isAddingRow"
          [fieldErrors]="fieldErrors"
          [highlightRowIndex]="duplicateRowIndex"
          [isZeroOneStatus]="true"
          (deleteRowClicked)="onDeleteRowClicked($event)"
          [requiredFooterFields]="detailsRequiredFooterFields"
          (selectChanged)="onSelectChangedDetails($event)"
          [createDefaults]="tableCreateDefaults"
          [isConfirmDialogToggleRequired]="true"
          [isConfirmDialogSaveRequired]="true"
          (editClicked)="onInlineEditSave($event)"
        ></app-tables>
      </div>
    </div>
  </div>
</form>
