<div class="tw-min-h-screen"> <!-- เพิ่ม wrapper เพื่อให้แน่ใจว่ามี scroll -->
  <div class="tw-sticky tw-top-0 tw-z-[30] tw-bg-white">
    <app-header-content
      [headerName]="'Applications Tracking'"
      [headerType]="'search'"
      [searchByOptions]="searchByOptions"
      [searchForm]="searchForm"
      (search)="onSearch($event)"
      (clearSearch)="onClearSearch()"
    ></app-header-content>
  </div>

  <app-filter
    [filterDateRange]="filterDateRange"
    (dateRangeSelected)="onDateRangeSelected($event)"
  ></app-filter>

  <div #filter>
    <app-filter-check-box
      [items]="filterItems()"
      [config]="filterConfig"
      (selected)="onFiltersSelected($event)"
    >
    </app-filter-check-box>
  </div>

  <app-loading></app-loading>

  <div #tableContainer #scrollArea>
    <app-tables
      [columns]="columns"
      [rows]="rows()"
      [resetKey]="resetCounter()"
      [splitRows]="false"
      [showCheckbox]="false"
      [sortStates]="currentSort()"
      (rowClicked)="onRowClick($event)"
      (columnClicked)="onColumnClick($event)"
      (listClickedRows)="onClickedRowsChanged($event)"
      [hasOverflowY]="false"
      [tableFixed]="false"
    ></app-tables>
  </div>
  
  <!-- เพิ่ม spacer ด้านล่างเพื่อให้แน่ใจว่ามี scroll -->
  <div class="tw-h-20"></div>
</div>