<div class="tw-h-[calc(100vh-80px)] tw-overflow-y-auto" (scroll)="onScroll($event)" #scrollContainer>
  <div class="tw-sticky tw-top-0 tw-z-[30]">
    <app-header-content
      [headerName]="'Applications Tracking'"
      [headerType]="'search'"
      [searchByOptions]="searchByOptions"
      [searchForm]="searchForm"
      (search)="onSearch($event)"
      (clearSearch)="onClearSearch()"
    ></app-header-content>
  </div>

  <app-filter
    [actionButtons]="filterButtons"
    [disabledKeys]="rows().length === 0 ? ['export'] : []"
    [showAllYearOption]="true"
    [filterDateRange]="filterDateRange"
    (dateRangeSelected)="onDateRangeSelected($event)"
    (buttonClicked)="onFilterButtonClick($event)"
  ></app-filter>

  <div #filter>
    <app-filter-check-box
      [items]="filterItems()"
      [config]="filterConfig"
      (selected)="onFiltersSelected($event)"
    >
    </app-filter-check-box>
  </div>

  <app-loading></app-loading>

  <div #tableContainer #hscroll class="tw-w-full tw-overflow-x-auto tw-mb-6" [class.tw-pb-3]="hasXScroll">
    <div class="table-scroll-inner">
      <app-tables
        [columns]="columns"
        [rows]="rows()"
        [resetKey]="resetCounter()"
        [splitRows]="false"
        [showCheckbox]="false"
        [stickyHeader]="false"
        [sortStates]="currentSort()"
        (rowClicked)="onRowClick($event)"
        (columnClicked)="onColumnClick($event)"
        (listClickedRows)="onClickedRowsChanged($event)"
        [hasOverflowY]="hasOverflowY"
        [tableFixed]="false"
        [IconHasDes]="true"
        [noOuterPaddingBottom]="true"
      ></app-tables>
    </div>
  </div>
</div>
