<div class="tw-sticky tw-top-0 tw-z-[30]">
  <app-header-content
    [headerName]="'Applications Tracking'"
    [headerType]="'search'"
    [searchByOptions]="searchByOptions"
    [searchForm]="searchForm"
    (search)="onSearch($event)"
    (clearSearch)="onClearSearch()"
  ></app-header-content>
</div>

<app-filter
  [filterDateRange]="filterDateRange"
  (dateRangeSelected)="onDateRangeSelected($event)"
></app-filter>

<div #filter>
  <app-filter-check-box
    [items]="filterItems"
    [config]="filterConfig"
    (selected)="onFiltersSelected($event)"
  >
  </app-filter-check-box>
</div>

<app-loading></app-loading>

<div
  #tableContainer
  class="tw-overflow-y-auto tw-transition-all tw-duration-500 tw-ease-in-out"
  (scroll)="onScroll($event)"
  #scrollArea
>
  <app-tables
    [columns]="columns"
    [rows]="rows()"
    [resetKey]="resetCounter()"
    [splitRows]="false"
    [showCheckbox]="false"
    [sortStates]="currentSort()"
    (rowClicked)="onRowClick($event)"
    (columnClicked)="onColumnClick($event)"
    (listClickedRows)="onClickedRowsChanged($event)"
    [hasOverflowY]="hasOverflowY"
    [tableFixed]="false"
  ></app-tables>
</div>
